<div class="matdialog">
  <div class="close">
    <button mat-raised-button (click)="closeClick()">
      <mat-icon id="close-icon">close</mat-icon>
    </button>
  </div>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <mat-card class="content">
      <mat-form-field class="comment-full-width ">
        <textarea matInput name="TextComment" placeholder="Leave a comment" [matTextareaAutosize] required
          formControlName="TextComment"></textarea>
        <div class="sendcommentbtn">
          <button mat-mini-fab color="white" matTooltip="Send" type="submit">
            <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
          </button>
        </div>
        <mat-error *ngIf="commentForm.invalid">* Field is required</mat-error>
      </mat-form-field>
    </mat-card>
  </form>
  <span *ngFor="let comment of recvData.listOfComments">
    <div class="commentcard">
      <div class="email">
        <mat-icon class="accounticon">account_circle</mat-icon> {{comment.UserName}}
      </div>
      <div class="textcomment">
        {{comment.TextComment}}
      </div>
    </div>
    <p>{{comment.CurrentDateTime | date:'HH:mm   dd.MM.yyyy.'}}</p>
  </span>
</div>
