<div class="close">
  <button mat-raised-button (click)="closeClick()">
    <mat-icon id="close-icon">close</mat-icon>
  </button>
</div>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="example-form ">
  <mat-card class="messagecontet">
    <mat-form-field class="message-full-width">
      <textarea matInput name="TextMessage" formControlName="TextMessage" placeholder="Leave a message"
        [matTextareaAutosize] required></textarea>
      <div class="sendmessagebtn">
        <button mat-mini-fab color="white" matTooltip="Send" type="submit">
          <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
        </button>
      </div>
      <mat-error *ngIf="messageForm.invalid">*Field is required</mat-error>
    </mat-form-field>
  </mat-card>
</form>
